<footer class="flex flex-col gradient-red min-h-[350px] justify-center items-center py-10 text-center shadow-all">
    <div class="flex w-[75%] justify-between gap-5 flex-wrap text-orange-100">
        <div class="flex flex-col text-white justify-center items-center gap-2">
            <img src="AppImages/Logo bez pozadine.png" class="w-[250px]" alt="Logo">
            
            <div class="flex gap-4 justify-center items-center text-2xl text-orange-100">
                <i class="fa-brands fa-instagram  font-2xl hover:text-red-200 duration-200"></i>
                <i class="fa-brands fa-facebook hover:text-red-200 duration-200"></i>
                <i class="fa-brands fa-linkedin hover:text-red-200 duration-200"></i>
                <i class="fa-brands fa-whatsapp hover:text-red-200 duration-200"></i>
            </div>
        </div>
        <div class="flex flex-col mx-auto justify-center items-center">
            <h1 class="text-2xl mt-10 font-semibold">Cvećara</h1>
            <ul class="mt-4">
                <li class="mt-2"><a href="#" class="hover:text-red-200 duration-200">Početna</a></li>
                <li class="mt-2"><a href="#" class="hover:text-red-200 duration-200">O nama</a></li>
                <li class="mt-2"><a href="#" class="hover:text-red-200 duration-200">Katalog</a></li>
                <li class="mt-2"><a href="#" class="hover:text-red-200 duration-200">Kontakt</a></li>
            </ul>
        </div>
        <div class="flex flex-col mx-auto justify-center items-center">
            <h1 class="text-2xl mt-10 font-semibold">Kontaktirajte nas</h1>
            <ul class="mt-4">
                <li class="mt-2">+381 66 546 75 85</li>
                <li class="mt-2">011 22 73 800</li>
                <li class="mt-2">milan26022@its.edu.rs</li>
                <li class="mt-2">Savski Nasip 7</li>
            </ul>
        </div>
        <div class="flex flex-col mx-auto justify-center items-center gap-5">
            <h1 class="text-2xl mt-10 font-semibold">Pretplatite se na naš newsletter</h1>
            <div class="transition-all transform mt-2 px-2 md:px-0 w-full flex mx-auto items-center justify-center sm:justify-center self-center content-center duration-300  lg:w-[40%]">
                <div  class="transition-all  flex shadow-xl mx-auto w-[300px] justify-center duration-200">
                   
                    <input type="text" class="border-none inline outline-none pl-2 py-2 text-black rounded-l-xl w-[250px]" placeholder="Unesite email adresu...">
                    <button class="inline bg-red-400 rounded-r-xl py-2 px-2 text-center hover:opacity-80 duration-200">
                        Pošalji
                    </button>
                </div>
            </div>
        </div>
    </div>
    
</footer>
<div class="bg-red-900/90 p-4 px-32 w-screen text-gray-300 ">
    <p class=""> 2025 - Milan Nikolić | Sva prava zadržana</p>
</div>