@{
    ViewData["Title"] = "Početna";
}

@await Component.InvokeAsync("Hero", new
{
    title = "Cveće koje govori umesto vas",
    subtitle = "Više od dve decenije pažljivo biranih cvetova. Vaše porudžbine dostavljamo brzo, sveže i sa ljubavlju.",
    isHome = true,
    backgroundImage = "'./AppImages/Hero pozadina.jpg'"
})

<section class="w-screen min-h-[400px] bg-gradient-to-tr from-red-50 to-rose-50">
    <div class="p-10 flex flex-col justify-center items-center text-center">
        <h1 class="text-4xl sm:text-5xl font-semibold text-red-900">Izdvojene kategorije</h1>
        <p class="text-lg sm:text-xl mt-1 text-gray-700">Pregled najpopularnijih kategorija</p>

        <div class="flex flex-wrap gap-12 justify-center">
            <div class="bg-purple-400 rounded-xl cursor-pointer shadow-all my-7 min-h-[300px] w-[250px] overflow-hidden hover:scale-105 transition-transform duration-200">
                <img src="./AppImages/Kategorije/Dan zaljubljenih.jpg" alt="flower" class="w-full max-w-full h-[250px] transition-all object-cover duration-0" />
                <div class="gradient-red p-5 flex flex-col justify-center items-center">
                    <p class="text-lg text-white font-semibold">Dan zaljubljenih</p>
                </div>
            </div>
            <div class="bg-purple-400 rounded-xl cursor-pointer shadow-all my-7 min-h-[300px] w-[250px] overflow-hidden hover:scale-105 transition-transform duration-200">
                <img src="./AppImages/Kategorije/Cvetni aranzman.jpg" alt="flower" class="w-full h-[250px] object-cover" />
                <div class="gradient-red p-5 flex flex-col justify-center items-center">
                    <p class="text-lg text-white font-semibold">Aranžmani i buketi</p>
                </div>
            </div>
            
            <div class="bg-purple-400 rounded-xl cursor-pointer shadow-all my-7 min-h-[300px] w-[250px] overflow-hidden hover:scale-105 transition-transform duration-200">
                <img src="./AppImages/Kategorije/Specijalni pokloni.jpg" alt="flower" class="w-full h-[250px] object-cover" />
                <div class="gradient-red p-5 flex flex-col justify-center items-center">
                    <p class="text-lg text-white font-semibold">Specijalni pokloni</p>
                </div>
            </div>
            
            <div class="bg-purple-400 rounded-xl cursor-pointer shadow-all my-7 min-h-[300px] w-[250px] overflow-hidden hover:scale-105 transition-transform duration-200">
                <img src="./AppImages/Kategorije/Saksijske biljke.jpg" alt="flower" class="w-full h-[250px] object-cover" />
                <div class="gradient-red p-5 flex flex-col justify-center items-center">
                    <p class="text-lg text-white font-semibold">Saksijske biljke</p>
                </div>
            </div>
            
        </div>
        
 
        
        

    </div>
</section>




