@{
    ViewData["Title"] = "Početna";
}

@await Component.InvokeAsync("Hero", new
{
    title = "Cveće koje govori umesto vas",
    subtitle = "Više od dve decenije pažljivo biranih cvetova. Vaše porudžbine dostavljamo brzo, sveže i sa ljubavlju.",
    isHome = true,
    backgroundImage = "'./AppImages/Hero pozadina.jpg'"
})

<section class="w-screen min-h-[400px] bg-gradient-to-tr from-red-50 to-rose-50">
    <div class="p-16 flex flex-col justify-center items-center text-center">
        <h1 class="text-4xl sm:text-5xl font-semibold text-red-900">Izdvojene kategorije</h1>
        <p class="text-lg sm:text-xl mt-1 text-gray-700">Pregled najpopularnijih kategorija</p>

        <div class="flex flex-wrap gap-12 justify-center">
            <div class="bg-purple-400 rounded-xl cursor-pointer shadow-all my-7 min-h-[300px] w-[250px] overflow-hidden hover:scale-105 transition-transform duration-200">
                <img src="./AppImages/Kategorije/Dan zaljubljenih.jpg" alt="flower" class="w-full max-w-full h-[250px] transition-all object-cover duration-0" />
                <div class="gradient-red p-5 flex flex-col justify-center items-center">
                    <p class="text-lg text-white font-semibold">Dan zaljubljenih</p>
                </div>
            </div>
            <div class="bg-purple-400 rounded-xl cursor-pointer shadow-all my-7 min-h-[300px] w-[250px] overflow-hidden hover:scale-105 transition-transform duration-200">
                <img src="./AppImages/Kategorije/Cvetni aranzman.jpg" alt="flower" class="w-full h-[250px] object-cover" />
                <div class="gradient-red p-5 flex flex-col justify-center items-center">
                    <p class="text-lg text-white font-semibold">Aranžmani i buketi</p>
                </div>
            </div>
            
            <div class="bg-purple-400 rounded-xl cursor-pointer shadow-all my-7 min-h-[300px] w-[250px] overflow-hidden hover:scale-105 transition-transform duration-200">
                <img src="./AppImages/Kategorije/Specijalni pokloni.jpg" alt="flower" class="w-full h-[250px] object-cover" />
                <div class="gradient-red p-5 flex flex-col justify-center items-center">
                    <p class="text-lg text-white font-semibold">Specijalni pokloni</p>
                </div>
            </div>
            
            <div class="bg-purple-400 rounded-xl cursor-pointer shadow-all my-7 min-h-[300px] w-[250px] overflow-hidden hover:scale-105 transition-transform duration-200">
                <img src="./AppImages/Kategorije/Saksijske biljke.jpg" alt="flower" class="w-full h-[250px] object-cover" />
                <div class="gradient-red p-5 flex flex-col justify-center items-center">
                    <p class="text-lg text-white font-semibold">Saksijske biljke</p>
                </div>
            </div>
            
        </div>

    </div>
</section>

<section class="w-screen min-h-[400px] bg-gradient-to-tr from-red-100 to-rose-100">
    <div class="p-16 flex justify-center gap-16 items-center w-[80%] mx-auto">
        <div class="rounded-3xl border border-solid border-gray-200 px-10 h-[550px]">
            <img src="AppImages/Cvecara.jpg" class="max-w-[400px] h-full object-cover rounded-3xl shadow-all object-left" alt="">
        </div>
        
        <div class="flex flex-col w-[50%]">
            <p class="text-gray-400 font-semibold">O nama</p>
            <h1 class="text-5xl text-gray-900 font-semibold mt-2"> <span class="text-red-900">Priroda pred</span> <br> vašim vratima</h1>
            <p class="mt-5">Naša cvećara „Nikolić“ postoji iz ljubavi prema cveću i lepim trenucima.
                Još od prvog dana, naš cilj je bio da svaka buket priča svoju priču — o pažnji, radosti i emocijama koje reči često ne mogu da izraze.</p>
           
            <p class="mt-5">
                Verujemo da cveće ima moć da ulepša svaki dan, bilo da se radi o velikoj proslavi ili malom znaku pažnje.
                Zato svaki naš aranžman pravimo s pažnjom i posvećenošću, kao da ga pravimo za sebe.
            </p>
            
            <p class="mt-5">
                U moru brzog života, mi biramo da zastanemo i uživamo u mirisu svežeg cveća.
                Naša cvećara spaja tradiciju i savremeni dizajn, nudeći jedinstvene cvetne aranžmane koji prate svaku priliku i svaku emociju.
            </p>
           
            <p class="mt-5">
                Bez obzira da li želite buket za rođendan, venčanje ili jednostavno da nekome ulepšate dan — kod nas ćete pronaći savršenu kombinaciju boja, 
                mirisa i pažnje.
            </p>
            
            <button class="btn gradient-red cursor-pointer shadow-red-900/50 w-[200px] mt-8">
                <span>Saznaj više</span>

            </button>
        </div>
    </div>
</section>

