<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - FlowerShop</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>

@await Component.InvokeAsync("Header")

<div class="flex justify-center items-center my-4">
    <main role="main" class="">
        @RenderBody()
    </main>
</div>

@await Component.InvokeAsync("Footer")


<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>