<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - FlowerShop</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" integrity="sha384-tViUnnbYAV00FLIhhi3v/dWt3Jxw4gZQcNoSCxCIFNJVCx7/D55/wXsrNIRANwdD" crossorigin="anonymous">
</head>
<body class="flex flex-col min-h-screen">

@await Component.InvokeAsync("Header")


<main role="main" class="flex-grow">
    @RenderBody()
</main>


@await Component.InvokeAsync("Footer")


<script type="module" src="~/js/main.js"  asp-append-version="true"></script>
<script src="https://kit.fontawesome.com/fb9f5b5c58.js" crossorigin="anonymous"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>