@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Poppins', sans-serif;
    scrollbar-color: #b91c1c #FECACA;
    scrollbar-width: thin;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: #4b5563;
}

*::-webkit-scrollbar-thumb {
    background-color: #b91c1c;
    border-radius: 9999px;
    border: 2px solid #4b5563;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #991b1b;
}

.btn {
    @apply relative overflow-hidden cursor-pointer px-10 py-3 font-semibold text-white rounded-lg shadow-all transition-all duration-300;
    
}

.btn:hover {
    @apply opacity-90 scale-110 bg-opacity-90;
}
.shadow-all {
    box-shadow: 0 0 5px #333;
}

#navbar::before {
    content: '';
    @apply absolute inset-0 bg-gradient-to-bl from-red-800 to-red-900;
    opacity: 0;
    transition: opacity 0.200s ease-in-out;
    z-index: -1;
}

#navbar.gradient-red::before {
    opacity: 1;
}

.gradient-red {
    @apply bg-gradient-to-bl from-red-800 to-red-900;
}

@layer components {
    .primary-checkbox {
        @apply appearance-none w-4 h-4 border-2 border-red-700 rounded-md cursor-pointer transition-all duration-200
        checked:bg-red-700 checked:border-red-700 hover:ring-2 hover:ring-red-400 hover:outline-none relative;
    }

    .primary-checkbox::before {
        content: '✔';
        @apply absolute inset-0 flex items-center justify-center text-white text-[0.8rem] opacity-0 transition-opacity duration-200;
    }

    .primary-checkbox:checked::before {
        @apply opacity-100;
    }

    .checkbox-label-primary {
        @apply text-red-900 select-none cursor-pointer text-sm font-semibold  transition-colors duration-200 ;
    }

    
}

input[type="range"] {
    -webkit-appearance: none; 
    appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    outline: none;
    margin: 10px 0; 
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #ef4444; 
    cursor: pointer;
    border: 2px solid #fff; /* Mali beli obrub */
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transition: background 0.15s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ef4444;
    cursor: pointer;
    border: 2px solid #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transition: background 0.15s ease-in-out;
}


input[type="range"]::-webkit-slider-thumb:hover,
input[type="range"]::-moz-range-thumb:hover {
    background: #dc2626; 
}

input[type="range"]::-webkit-slider-thumb:active,
input[type="range"]::-moz-range-thumb:active {
    background: #dc2626;
}

.badge {
    @apply rounded-xl shadow-lg font-semibold text-sm text-white
}

.badge.sale {
    @apply bg-gradient-to-b from-yellow-400 to-yellow-500
}

.badge.out-of-stock {
    @apply bg-gradient-to-b from-red-400 to-red-500
}

.badge.new {
    @apply bg-gradient-to-b from-emerald-400 to-emerald-500
}


